/* Center Everything */
.container {
    background-color: white;
}

.headings {
    text-align: left;
    font-family: 'Arvo', serif;
    padding: 5rem 5rem;
}

.headings h1 {
    /* font-weight: lighter; */
    font-size: 50px;
    padding-top: 6rem;
    padding-bottom: 15px;
}

.headings h4 {
    font-weight: lighter;
    font-size: 25px;
}


hr {
    border: 0;
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7rem 0rem 2rem 0rem;
}

/* Grid Layout for 3x3 */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7em;
    max-width: 1100px;
    /* Ensures content stays centered */
}

/* Card Styling */
.cards {
    background: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    height: 415px;
    width: 300px;
    padding: 2px;
}

.cards:hover {
    transform: scale(1.03);
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
}

.recipe-type {
    font-size: 13px;
    font-weight: bold;
    color: #9b5783;
    margin-bottom: 5px;
}

.recipe-title {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.recipe-time {
    font-size: 12px;
    font-weight: bold;
    color: #9b5783;
}

.recipe-details {
    display: flex;
    gap: 10px; /* Adjust spacing */
    align-items: center; /* Align text vertically */
}

.recipe-time svg {
    color: #ff9800; /* Customize icon color */
    margin-right: 5px;
}

.recipe-details {
    display: flex;
    /* gap: 10px; Adjust spacing */
    align-items: center;
    justify-content: space-between; /* Align text vertically */
    padding-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for tablets */
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        /* 1 column for mobile */
    }
}