/* searchresult.css */
.search-results-page {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.search-results-page h2 {
    margin-top: 7rem;
    /* margin-bottom: 1rem; */
    font-size: 3rem;
    text-align: center;
}

.recipes-container {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
}

.loading-message, 
.error-message,
.no-results {
    text-align: center;
    padding: 2rem;
}

.error-message {
    color: #ff0000;
}

.no-results {
    color: #666;
}